{% extends 'default.html' %}

    {% block content %}
    {% if clothes %}
    <h2 style="font-size: 30px; text-align: center;">Кол во товаров: {{ clothes|length }}</h2>
    <hr>
    <br>
        <table style="font-size: 40px;margin-top: 50px; text-align: center; margin: 0 auto;">
            <tr>
                <td>Название</td>
                <td>Название каталога</td>
                <td>Описание</td>
                <td>Ссылка</td>
            </tr>
            {% for cloth in clothes %}
            <tr>
                <td>
                    {{ cloth.name }}
                </td>
                <td>
                    {{ cloth.what_catalog }}
                </td>
                <td>
                    {{ cloth.description }}
                </td>
                <td>
                    <a style="color: aliceblue;" href="{% url 'detail' cloth.pk %}">Перейти!</a>
                </td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>Нет товара!</h4>
    {% endif %}
    {% endblock content %}